:root {
  --color-text: #170C04;
  --color-link: #E27B3A;
  --color-form-bg: #2E96FF;
  --color-white: #fff;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}




/* best-product */

.best-product {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.best-product__item {
  list-style: none;
  width: 360px;
  padding: 40px 31px 18px 31px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.best-product__item::before {
  content: '';
  position: absolute;
  width: 63px;
  height: 64px;
  background-image: url("../img/best-product-bg1.svg");
  background-repeat: no-repeat;
  left: calc(50% - 40px);
  top: -29px;
}

.page-two::before {
  background-image: url("../img/pest-product-bg2.svg");
}

.page-three::before {
  background-image: url("../img/best-product-bg3.svg");
}

.page-two {
  box-shadow: 0px 1px 19px var(--color-link);
}

.best-product__heading {
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  line-height: 37px;
  width: 272px;
  color: var(--color-text);
}

.best-product__text {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 298px;
  text-align: center;
  color: var(--color-text);
  opacity: 0.6;
}

.details__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-link);
  display: flex;
  justify-content: center;
}

/* DOG-CARE */

.dog-care{
  display: flex;
  position: relative;
}

.dog-care__contant {
  position: absolute;
  width: 478px;
  left: calc(50% + 110px);
  top: 168px;
}

.dog-care__span {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-link);
  opacity: 0.8;
  margin-bottom: 4px;
}

.dog-care__heading {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 32.25px;
  line-height: 45px;
  color: var(--color-text);
  margin-bottom: 18px;
}

.dog-care__text {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 40px;
}

.appointement{
  text-decoration: none;
  color: var(--color-white);
  border: 2px solid var(--color-link);
  padding: 12px 30px;
  background: var(--color-link);
  border-radius: 24px;
}

.see-detail{
  margin-left: 30px;
  background-color: var(--color-white);
  color: var(--color-link);
  border: 2px solid #e27a3a5b;
  box-sizing: border-box;
  border-radius: 24px;
  transition: all 0.5s ease;
}

.see-detail:hover{
  background: var(--color-link);
  box-sizing: border-box;
  color: var(--color-white);
  border: 2px solid var(--color-link);
}